.cover {
	background-color: #F8F8F8;
	position: relative;
	height: 412px;

	&__link {
		display: block;
	}

	&__picture {
		border: red solid 1px;
		width: 804px;
		height: 412px;
		object-fit: cover;
		position: absolute;
		right: 0;
	}

	&__title {
		position: absolute;
		top: 0;
		padding-top: 63px;
		border: red 1px solid;
		color: var(--text-color);
		cursor: default;
		font-size: 50px;
		font-weight: 600;
		line-height: 130%; /* 65px */
		margin-bottom: 40px;
	}

	&__target-button {
		position: absolute;
		bottom: 0;
		margin-bottom: 62px;
		background-color: var(--accent);
		width: 290px;
		height: 50px;
		border-radius: 8px;
		color: #FFF;
		font-weight: 400;
		opacity: 1;
		transition: opacity .2s ease-in;

		&:hover {
			opacity: .8;
		}
	}
}

@media (max-width: 1240px) {
	.cover {
		overflow: hidden;
		height: 400px;
	}
	
	.cover__picture {
		right: -300px;
	}
}

@media (max-width: 1000px) {
	.cover__title {
		padding-top: 80px;
		font-size: 40px;
		line-height: 125%; /* 50px */
	}

	.cover__target-button {
		width: 260px;
		margin-bottom: 80px;
	}
}

@media (max-width: 440px) {
	.cover__title {
		font-size: 38px;
		width: 392px;
	}
}