.cover {
	background-color: #F8F8F8;
	background-image: url("./../img/cover.png");
	background-size: contain;
	background-position: 100% 0;
	background-repeat: no-repeat;

	&__link {
		display: block;
		padding: 64px 0; 
	}

	&__title {
		color: var(--text-color);
		cursor: default;
		font-size: 50px;
		font-weight: 600;
		line-height: 130%; /* 65px */
		margin-bottom: 40px;
	}

	&__target-button {
		background-color: var(--accent);
		width: 290px;
		height: 50px;
		border-radius: 8px;
		color: #FFF;
		font-weight: 400;
		opacity: 1;
		transition: opacity .2s ease-in;

		&:hover {
			opacity: .8;
		}
	}
}


@media (max-width: 810px) {
	.cover {
		background-size: auto;
	}

	.cover__link {
		padding: 78px 0;
	}

	.cover__title {
		font-size: 40px;
		line-height: 125%; /* 50px */
	}

	.cover__target-button {
		width: 260px;
		height: 50px;
	}
}

@media (max-width: 650px) {
	.cover__link {
		padding: 58px 0;
	}

	.cover__title {
		font-size: 38px;
	}
}