.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 36px;
	}

	&__item {
		position: relative;
	}

	&__link {
		color: var(--text-color);
		font-weight: 400;
		transition: color .2s ease-in;

		&_sub {
			width: 159px;
			display: block;
			border-top: 1px solid #E7E7E7;
			border-bottom: 1px solid #E7E7E7;
			line-height: 59px;
			margin-bottom: 10px;
		}

		&:hover {
			color: var(--accent);
		}
	}

	&__sub-list {
		display: none;
		position: absolute;
		background-color: #FFF;
		width: 225px;
		padding: 22px 36px 20px 28px;
	}

	&__profile {
		color: var(--accent);
		font-weight: 600;
		opacity: 1;
		transition: opacity .2s ease-in;

		&:hover {
			opacity: .8;
		}
	}
}

.nav .nav__item_sub:hover .nav__sub-list {
	display: block;
}
