.price {
	display: flex;
	align-items: center;
	color: var(--text-color);
	font-size: 40px;
	font-weight: 500;

	&__parts {
		display: flex;
		flex-direction: column;
		margin-left: 6px;
		font-weight: 400;
		font-size: var(--font-size-base);
	}

	&__currency {
		border-bottom: 1px solid var(--text-color);
	}
}
